body {
  color: #000;
  background-size: 100%;
  background-image: url('./img/prototype-tg1.png');
  background-size: 20%;
  background-repeat: round;
  transition: all 1s;
}

@media screen and (max-width: 767px) {
  body {
    background-size: 100%;
  }
}