body {
  color: #000;
  background-size: 100%;
  background-image: url("./img/prototype1.png");
}

.bg-one {
  background-image: url("./img/prototype1.png");
  opacity: 1;
  transition: 1s background linear 2s;
}

.bg-two {
  background-image: url("./img/prototype2.png");
  opacity: 1;
  transition: 1s background linear 2s;
}

.bg-three {
  background-image: url("./img/prototype3.png");
  opacity: 1;
  transition: 1s background linear 2s;
}

.bg-four {
  background-image: url("./img/prototype4.png");
  opacity: 1;
  transition: 1s background linear 2s;
}